<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if user_signed_in? %>
 <%= link_to "ログアウト", destroy_user_session_path, :method => 'delete' %>
 <%= link_to "ユーザ情報の編集", edit_user_registration_path %>
<% else %>
 <%= link_to "ログイン", new_user_session_path %>
 <%= link_to "登録", new_user_registration_path %>
<% end %>
