<h1>登録アプリ一覧</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>アプリ名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% @apps.each do |app| %>
    <tr>
      <td>
        <%= link_to app.name, gcms_path + "/" + app.name%>
      </td>
      <td>
        <%= link_to '通知', notification_gcms_path(:app_name => app.name), :class => "btn btn-info" %>
      </td>
      <td>
        <%= link_to 'ユーザ一覧', app_users_path(:app_name => app.name), :class => "btn btn-info" %>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
